.todo__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: white;
  text-align: center;
  width: 520px;
  margin: 18px auto;
  border-radius: 10px;
  /* padding-bottom: 32px; */
}

/* .todo__form-edit{
  display: flex;
  flex-direction: column;
  color: green;
  align-items: center;
} */
.todo__form-label {
  text-align: left;
}

.todo__form-input {
  font-size: 16px;
  padding: 10px;
  transition: box-shadow 0.15s;
  outline: none;
  border: 1px solid #92d2ff;
  color: #333;
  vertical-align: middle;
  margin-bottom: 10px;
}

.todo__form-input:focus {
  box-shadow: 0 0 0.5rem 0.1rem rgba(165, 213, 255, 0.73);
}

.todo__form-input::placeholder {
  color: #e2e2e2;
}

.todo__form-edit-input {
  margin: 4px auto 0;
  color: #000;
  background: radial-gradient(rgb(255, 255, 255) 0%, rgb(64, 140, 221) 100%);
  border: 1px solid rgb(178, 151, 151);
  padding: 16px;
  border-radius: 5px;
  width: 60%;
}

.todo__form-button-add {
  margin-top: 10px;
  background: none;
  border: 1px solid #26b2ff;
  border-radius: 5px;
  font-size: 25px;
  cursor: pointer;
  outline: none;
  vertical-align: middle;
  color: #26b2ff;
  opacity: 0.8;
  transition: opacity 0.15s, transform 0.15s;
}

.todo__form-button-add:hover {
  opacity: 1;
  color: #fff;
  background-color: #26b2ff;
  border-radius: 10px;
  transform: scale(1.1);
}
.todo__form-button-add:active {
  opacity: 1;
  transform: scale(1.1);
}

.todo__form-button-edit {
  background: none;
  margin-bottom: 2px;
  margin-left: 8px;
  padding: 12px 20px;
  border-radius: 8px;
  border: 1px solid #26b2ff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  color: #26b2ff;
  opacity: 0.8;
  transition: opacity 0.15s, transform 0.15s;
}

.todo__form-button-edit:hover {
  opacity: 1;
  color: #fff;
  background-color: #26b2ff;
  transform: scale(1.2);
}
